

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1">
    <packages>
        <package name="TestNg">

        </package>
    </packages>
    <test name="Basic Test combination">
        <classes>
            <class name="TestNg.Basics">
                <methods>
                    <include name="fun1" />
                </methods>
            </class>
            <class name="TestNg.TestSuite" />
        </classes>
    </test>

    <test name="try different combinations">
        <classes>
            <class name="TestNg.Basics" >
                <methods>
                    <exclude name="fu.*" />
                </methods>
            </class>
            <class name="TestNg.Test1" />

        </classes>

    </test>

</suite>
